n8n workflow assets/Meow_Facless_Automation__Demo___Too_Expensive_.json
{
  "name": "Meow Facless Automation (Demo) (Too-Expensive)",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f75bac8-de0b-4b93-ab89-c09a220ba4bb",
              "name": "Number of Video",
              "value": "4",
              "type": "string"
            },
            {
              "id": "930e2438-3013-4578-806d-ed030fc12683",
              "name": "Background Music",
              "value": "https://api.andynocode.com/assets/music/bgm.mp3",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -580,
        -340
      ],
      "id": "0dd4e735-c17d-4f97-859e-bbf880e9bec0",
      "name": "Video Configuration"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Overview\nYou are a creative and funny story teller. Create a creative cat story that are engaging , storytelling rich and relatable to everyone life. Your target Audience will be audience who likes cat or cat owner.\n\n## Story Structure\nYour story must include:\n\nA Story summary that outlines the narrative in 30 words (for instance, a cat who notices a gorgeous female cat, decides to get in shape, but ends up heartbroken when he learns she already has a boyfriend).\nAt least four detailed Scenes. Each scene should be written as a single sentence in 30 words.\nThe Main Character is a fat, plump and big belly Ragdoll cat.\n\n## Output Structure Example\nOUTPUT MUST BE EXACTLY THE SAME STRUCTURE AS THE EXAMPLE:\n\n\"Story: After noticing a gorgeous female cat girl, he resolves to get in shape to win her over. But he got heart-broken after finding out that she got a boyfriend already.\"\n\nNumber of Scenes: {{ $json['Number of Video'] }} scenes\n\nScene 1 - He is crying as his girlfriend, a slim female grey cat, is walking away from him.\n\nScene 2 - Feeling Anxious about his own fat body shape.\n\nScene 3 - Lifting weights in Gym in the. Wearing a tight, yellow athletic singlet with blue trim. The text \"Andynocode\" is printed across the front in a sporty, bold font.\n\nScene 4 - Become muscular and handsome, wearing suits and sunglasses, looking cool.\n\n## Important Note\nMake sure the story is appealing to cat owners or cat lovers."
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -360,
        -340
      ],
      "id": "d7c06081-e608-4191-8d9f-ec6d5b7f0206",
      "name": "Story Agent"
    },
    {
      "parameters": {
        "content": "## Story Telling\n",
        "height": 280,
        "width": 860
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -860,
        -400
      ],
      "id": "210218d0-c509-4b22-81b6-adc7a0791a2e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        -340
      ],
      "id": "5e0228fc-55cd-471f-92d1-35e685db89c2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Overview\nYou are Image Agent. You are required to create a prompt for a short film.\n\n## Details.\nMain Character: fat, plump and big belly Ragdoll cat. \n\n{{ $json.text }}\n\nFor each scene, we need to highlight the main character. Treat each scene as a separate prompt. Output in an array of image prompts.\n\nPlease find the sample prompt for flux for one scene below:\n\n\"A massive, oversized orange tabby cat with exaggeratedly round features is charging towards the viewer down a narrow European-style alleyway. Its eyes are wide and intense, mouth open in a dramatic snarl, with sharp teeth visible. The cat’s fur is vibrant with deep orange and golden hues, striped with dark brown patterns. Its paws are raised mid-stride, giving a sense of movement and urgency.\n\nIn the foreground, a lifeless white cat with delicate fur lies sprawled on the pavement, its body partially draped over a crushed robotic device. There are streaks of red fluid surrounding the scene, adding to the eerie atmosphere. A small, tipped-over food bowl is nearby. The alley is lined with aged European buildings, with balconies and lanterns hanging from the walls. A green trash bin is knocked over on the left side, adding to the chaotic feel of the moment. In the background, a lone white goose walks away nonchalantly, as if undisturbed by the unfolding drama.\"\n\nThe lighting is moody and cinematic, with a slightly overcast sky filtering soft light through the narrow alley. The perspective is slightly tilted, making the image feel dynamic and unsettling. The scene has a hyper-realistic yet surreal quality, with a balance of sharp details and exaggerated elements that add to the dramatic tension.\n\nNUMBER OF IMAGE PROMPT: {{ $json['Number of Video'] }}\n\n## Output Structure Example\nExample Output (for n=2):\n\n{\n  \"image_prompt_list\": [\n    \"A massive, oversized orange tabby cat with exaggeratedly round features is charging towards the viewer down a narrow European-style alleyway. Its eyes are wide and intense, mouth open in a dramatic snarl, with sharp teeth visible. The cat’s fur is vibrant with deep orange and golden hues, striped with dark brown patterns. Its paws are raised mid-stride, giving a sense of movement and urgency.  \n\n    In the foreground, a lifeless white cat with delicate fur lies sprawled on the pavement, its body partially draped over a crushed robotic device. There are streaks of red fluid surrounding the scene, adding to the eerie atmosphere. A small, tipped-over food bowl is nearby. The alley is lined with aged European buildings, with balconies and lanterns hanging from the walls. A green trash bin is knocked over on the left side, adding to the chaotic feel of the moment.  \n\n    In the background, a lone white goose walks away nonchalantly, as if undisturbed by the unfolding drama. The lighting is moody and cinematic, with a slightly overcast sky filtering soft light through the narrow alley. The perspective is slightly tilted, making the image feel dynamic and unsettling. The scene has a hyper-realistic yet surreal quality, with a balance of sharp details and exaggerated elements that add to the dramatic tension.\"\n  ]\n}\n",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        40,
        -340
      ],
      "id": "e423b990-bbb4-4124-a18a-e1f84aa4d33e",
      "name": "Image Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -360,
        100
      ],
      "id": "2b0911ca-2c63-429e-bdab-865a51cac2de",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HUOBqHMsVZzUprUx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        100,
        -140
      ],
      "id": "620b97e5-12b1-410a-aa35-b4f5413ed7e8",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"image_prompt_list\": [\n    \"A massive, oversized orange tabby cat with exaggeratedly round features is charging towards the viewer down a narrow European-style alleyway. Its eyes are wide and intense, mouth open in a dramatic snarl, with sharp teeth visible. The cat’s fur is vibrant with deep orange and golden hues, striped with dark brown patterns. Its paws are raised mid-stride, giving a sense of movement and urgency.\\n\\nIn the foreground, a lifeless white cat with delicate fur lies sprawled on the pavement, its body partially draped over a crushed robotic device. There are streaks of red fluid surrounding the scene, adding to the eerie atmosphere. A small, tipped-over food bowl is nearby. The alley is lined with aged European buildings, with balconies and lanterns hanging from the walls. A green trash bin is knocked over on the left side, adding to the chaotic feel of the moment. In the background, a lone white goose walks away nonchalantly, as if undisturbed by the unfolding drama.\\n\\nThe lighting is moody and cinematic, with a slightly overcast sky filtering soft light through the narrow alley. The perspective is slightly tilted, making the image feel dynamic and unsettling. The scene has a hyper-realistic yet surreal quality, with a balance of sharp details and exaggerated elements that add to the dramatic tension.\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        220,
        -20
      ],
      "id": "86ff888d-c1ac-43ca-814e-8a27cd4d423d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.image_prompt_list",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        400,
        -340
      ],
      "id": "49275c77-a4df-448f-b528-11af95a169df",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/flux-pro/v1.1-ultra",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json['output.image_prompt_list'] }}"
            },
            {
              "name": "image size",
              "value": "portrait_16_9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        -340
      ],
      "id": "92e210a6-70ee-4d6e-8cd0-d450a185846e",
      "name": "FAL Generate Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gm6EAAt6pS8zTMVf",
          "name": "Fal Ai Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        -340
      ],
      "id": "5b5a27aa-6ddc-4c14-9648-f80b40b3ff82",
      "name": "Wait",
      "webhookId": "0da59415-3663-451a-9491-1bb092a69cfd"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/flux-pro/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        -340
      ],
      "id": "499b14bf-4e38-4759-bdba-2c7b65d2a29d",
      "name": "Get Generated Images",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gm6EAAt6pS8zTMVf",
          "name": "Fal Ai Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        -340
      ],
      "id": "ba4eaf4d-2c7c-4af9-a1a9-a4dbb09c6fca",
      "name": "Preview Image"
    },
    {
      "parameters": {
        "content": "## Image Producer\n",
        "height": 540,
        "width": 1360,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -400
      ],
      "id": "a8e21bbb-a8d8-4835-bbb5-263635d67913",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/minimax/video-01/image-to-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "[Static shot]"
            },
            {
              "name": "image_url",
              "value": "={{ $json.images[0].url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        240
      ],
      "id": "a8beab87-61e0-4e16-b8dd-e7b5c6b02507",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gm6EAAt6pS8zTMVf",
          "name": "Fal Ai Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 12,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        240,
        240
      ],
      "id": "f0f2aecf-8b7e-42e9-97ac-3f843e839f98",
      "name": "Wait1",
      "webhookId": "13025f71-6172-43e5-adf3-dc9508993250"
    },
    {
      "parameters": {
        "url": "https://queue.fal.run/fal-ai/minimax/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        240
      ],
      "id": "1552d535-87dd-4091-8278-b5c8fb8b32c8",
      "name": "Fal Get Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gm6EAAt6pS8zTMVf",
          "name": "Fal Ai Auth account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "video_url"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        600,
        240
      ],
      "id": "5374ab86-319f-4e80-ac35-0bb923e21b51",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.andynocode.com/api/function/video-generation/loop-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"LoopVideo\",\n  \"data\": {\n    \"background_url\": \"{{ $('Video Configuration').item.json['Background Music'] }}\",\n    \"media_list\": string[],\n    \"duration\": number (optional)\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        240
      ],
      "id": "89ed6355-d7fb-4174-b60a-ee8441545002",
      "name": "Render Video",
      "credentials": {
        "httpQueryAuth": {
          "id": "gd8jBjxozFfVY2NC",
          "name": "Query Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Video Configuration": {
      "main": [
        [
          {
            "node": "Story Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Video Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story Agent": {
      "main": [
        [
          {
            "node": "Image Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Story Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Image Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Image Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Image Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "FAL Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FAL Generate Image": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Generated Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Generated Images": {
      "main": [
        [
          {
            "node": "Preview Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preview Image": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Fal Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fal Get Video": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Render Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7756919b-4a68-4db0-af25-ed91c91528e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6a23a1377e872f6f201a296e14c75691e100934cfebe9566c37e5753607d423"
  },
  "id": "8kwr5NuOdE8CKgug",
  "tags": []
}