n8n workflow assets/Nova__Personal_Assistant_.json
{
  "name": "Nova (Personal Assistant)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1de08cb4-ef3b-467e-a107-44b461c17101",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2760,
        -1040
      ],
      "id": "0b82c6a1-cc9d-4741-a820-6971eee93af4",
      "name": "Whatsapp webhook",
      "webhookId": "1de08cb4-ef3b-467e-a107-44b461c17101",
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ]
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -2760,
        -600
      ],
      "id": "864094c0-f140-48cc-b8e7-6bfb72dfe074",
      "name": "WhatsApp Trigger",
      "webhookId": "0ee835da-93f5-404c-8a0c-b9b2e3958bf7",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "4kZwd3sayEBqxOtA",
          "name": "WhatsApp OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -760,
        -360
      ],
      "id": "d16e24ca-3f81-49fa-8306-9cdd1648dbb9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HUOBqHMsVZzUprUx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').first().json.message.message_id }}",
        "tableName": "nova_chat_histories",
        "contextWindowLength": 10000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -580,
        -700
      ],
      "id": "b3471421-b989-4638-8923-249c5fd24c8f",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "eZ6KctfMYleL4cSx",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=This is a message with {{ $json.type }}\n\nHere is the user chat input :\n{{ $json.chat_input }}\n\nOther data :\n{{ $json.data }}",
        "options": {
          "systemMessage": "=# Role\nYou are the ultimate personal assitant responsible for handling user requests and send the user query to the correct tool given to u. Your role is to determine if a request relates to a particular function (such as financial record-keeping) and delegate the task to the tool by calling them. You should never be writing any email, or creating summaries, you just need to call the correct tool. \n\n## Tools & Sub-Agents\n### Finance Recording Agent\n- **Agent Identifier:** `financial_agent`\n- **Purpose:** Use this tool to take action on finance-related scenario.\n### Email Agent\n- **Agent Identifier:** `email_agent`\n- **Purpose:** Use this tool to take action on email-related scenario.\n### Contact Agent\n- **Agent Identifier:** `contact_agent`\n- **Purpose:** Use this tool to take action on contact-related scenario.\n\n## Important Note\nToday Date is {{ $now.format('yyyy-MM-dd') }}\nAsk for clear verification if the information is uncleared about the task given.\nProceed with standard protocol if the task is not able to delegate to any tools.\nProvide your respond in sarasctics way to your boss.\nPlease include the output information by the calling of different tools after you have generated your humor rich text."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -580,
        -1000
      ],
      "id": "17323e18-308c-4e26-830a-5e66aedf9187",
      "name": "Nova (Personal Assistant)"
    },
    {
      "parameters": {
        "url": "={{ $json.data.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAQxnKNuiBQBOxZA2R97MLUhyiejStLVFEu5p4eHra6Flh6RfTdZAUGtBChzrKTtkOVPYnWmtmgNYLh8M3oLwPMJlRpYlA7O7dDvGlSv6j9ZC6s7UAirbjPu1S7lylyZCeXuALiqQZAuEXldjReOBzgZASbEEzLPKBggDO3caOLHY8SdnbDUvMg7XZAe05CstlyDAZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1880,
        -1100
      ],
      "id": "78cd150c-09ed-4725-8116-ed5ec9e5952d",
      "name": "Download audio"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $json.messages[0].audio.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAQxnKNuiBQBOxZA2R97MLUhyiejStLVFEu5p4eHra6Flh6RfTdZAUGtBChzrKTtkOVPYnWmtmgNYLh8M3oLwPMJlRpYlA7O7dDvGlSv6j9ZC6s7UAirbjPu1S7lylyZCeXuALiqQZAuEXldjReOBzgZASbEEzLPKBggDO3caOLHY8SdnbDUvMg7XZAe05CstlyDAZDZD"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2240,
        -1100
      ],
      "id": "bfad2f19-b706-4e6c-8e6e-6d527be5cabe",
      "name": "Get audio binary"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1700,
        -1100
      ],
      "id": "a7f28b90-65bb-45ef-96c8-0bd77547125d",
      "name": "Transcribe Recording",
      "credentials": {
        "openAiApi": {
          "id": "z114ZqIH3JcoUWXV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af1cfeed-d7e8-47e7-90a6-821b0250d8bd",
              "name": "chat_input",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "3de0c271-e5fe-46dc-ab2d-e9d988feb369",
              "name": "type",
              "value": "voice",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        -1100
      ],
      "id": "58af41fb-5ceb-4048-811e-c9d7809d7dcb",
      "name": "Audio Chat Input"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $json.messages[0].image.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAQxnKNuiBQBOxZA2R97MLUhyiejStLVFEu5p4eHra6Flh6RfTdZAUGtBChzrKTtkOVPYnWmtmgNYLh8M3oLwPMJlRpYlA7O7dDvGlSv6j9ZC6s7UAirbjPu1S7lylyZCeXuALiqQZAuEXldjReOBzgZASbEEzLPKBggDO3caOLHY8SdnbDUvMg7XZAe05CstlyDAZDZD"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2240,
        -920
      ],
      "id": "f468ef36-248b-4689-9eb7-63fa221b83ba",
      "name": "Get image binary"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2060,
        -1100
      ],
      "id": "fe01a493-5ba6-4347-a972-61057fe49557",
      "name": "Extract url from audio binary",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "={{ $json.data.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAQxnKNuiBQBOxZA2R97MLUhyiejStLVFEu5p4eHra6Flh6RfTdZAUGtBChzrKTtkOVPYnWmtmgNYLh8M3oLwPMJlRpYlA7O7dDvGlSv6j9ZC6s7UAirbjPu1S7lylyZCeXuALiqQZAuEXldjReOBzgZASbEEzLPKBggDO3caOLHY8SdnbDUvMg7XZAe05CstlyDAZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1880,
        -920
      ],
      "id": "765f2a02-78cb-473c-a9ff-d826cab4cafc",
      "name": "Download image"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Could you extract the following information from the invoice?\n\n{\n  \"Entry Number\": \"\",\n  \"Expense Date\": \"\",\n  \"Vendor\": \"\",\n  \"Expense Type\": \"\", (Housing, Transportation, Food, etc...)\n  \"Expense Description\": \"\",\n  \"Expense Amount\": \"\",\n  \"Customer Name\": \"\",\n  \"Reference#\": \"\"\n}\n\nreturn in JSON format, only return the JSON without other text.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1700,
        -920
      ],
      "id": "2a1b4e82-f1d4-4ed7-91d7-c92a41b4fb20",
      "name": "Image Analyzer",
      "credentials": {
        "openAiApi": {
          "id": "z114ZqIH3JcoUWXV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a25b3469-b747-493c-8636-f9a01a58fd39",
              "name": "data",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "3eb92453-7c80-4fc3-a850-67e5a0093f1f",
              "name": "type",
              "value": "image",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        -920
      ],
      "id": "0c7dedb1-ca47-4efa-b847-d7e6f5dafe54",
      "name": "Image Chat Input"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $json.messages[0].document.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAQxnKNuiBQBOxZA2R97MLUhyiejStLVFEu5p4eHra6Flh6RfTdZAUGtBChzrKTtkOVPYnWmtmgNYLh8M3oLwPMJlRpYlA7O7dDvGlSv6j9ZC6s7UAirbjPu1S7lylyZCeXuALiqQZAuEXldjReOBzgZASbEEzLPKBggDO3caOLHY8SdnbDUvMg7XZAe05CstlyDAZDZD"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2240,
        -740
      ],
      "id": "13522786-9b5f-4e82-b890-c21f194dbeca",
      "name": "Get document binary"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2060,
        -920
      ],
      "id": "de98dfdf-5f74-47fb-8aa3-f9b1c95c6b97",
      "name": "Extract url from image binary"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2060,
        -740
      ],
      "id": "41c5a7bd-c7f0-48b2-a966-035e5f563dee",
      "name": "Extract url from document binary"
    },
    {
      "parameters": {
        "url": "={{ $json.data.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer EAAQxnKNuiBQBOxZA2R97MLUhyiejStLVFEu5p4eHra6Flh6RfTdZAUGtBChzrKTtkOVPYnWmtmgNYLh8M3oLwPMJlRpYlA7O7dDvGlSv6j9ZC6s7UAirbjPu1S7lylyZCeXuALiqQZAuEXldjReOBzgZASbEEzLPKBggDO3caOLHY8SdnbDUvMg7XZAe05CstlyDAZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1880,
        -740
      ],
      "id": "06ded9e5-7fbe-4e81-aa00-0e207592b670",
      "name": "Download document"
    },
    {
      "parameters": {
        "resource": "file",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1700,
        -740
      ],
      "id": "0163d5d7-98d8-4da5-a505-c62fe14881b9",
      "name": "Upload File",
      "credentials": {
        "openAiApi": {
          "id": "z114ZqIH3JcoUWXV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "operation": "create",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "name": "Document Assistant",
        "description": "Document Assistant provide assistant on answering document related question",
        "instructions": "You are a document assistant and will answer user question based on attached document to you.",
        "knowledgeRetrieval": true,
        "file_ids": "={{ $json.id }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1520,
        -740
      ],
      "id": "36855e8d-3e9b-4f68-98d8-90a5ca94d203",
      "name": "Document Assistant",
      "credentials": {
        "openAiApi": {
          "id": "z114ZqIH3JcoUWXV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "prompt": "define",
        "text": "=User is asking {{ $('WhatsApp Trigger').first().json.messages[0].document.caption }}\n\nIf it is for invoice or bank or credit card statement , return a formatted data from this document.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1340,
        -740
      ],
      "id": "5fd43117-c903-4857-bca3-d4f74fce0293",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "z114ZqIH3JcoUWXV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a25b3469-b747-493c-8636-f9a01a58fd39",
              "name": "chat_input",
              "value": "={{ $('WhatsApp Trigger').first().json.messages[0].document.caption }}",
              "type": "string"
            },
            {
              "id": "3eb92453-7c80-4fc3-a850-67e5a0093f1f",
              "name": "data",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "336e34b8-5147-45fd-9e1b-abcc67eb0766",
              "name": "type",
              "value": "document",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1000,
        -740
      ],
      "id": "e08d2d92-6ccf-4ba1-8a1b-46c137277e9b",
      "name": "Document Chat Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a25b3469-b747-493c-8636-f9a01a58fd39",
              "name": "chat_input",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "139c8598-6f33-497d-8edd-a630c83fb0dc",
              "name": "type",
              "value": "text",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2240,
        -560
      ],
      "id": "44b7a68e-3fe5-4f5f-a084-b7dd593131c7",
      "name": "Text Chat Input"
    },
    {
      "parameters": {
        "name": "financial_agent",
        "description": "Call this tool to record financial transactions and do financial tracking.",
        "workflowId": {
          "__rl": true,
          "value": "MUD1lr5icZmGDoF5",
          "mode": "list",
          "cachedResultName": "Financial Tracking Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -500,
        -480
      ],
      "id": "ef6a514b-cc33-4ed4-b68c-cb9abbcb0781",
      "name": "financial_agent"
    },
    {
      "parameters": {
        "name": "email_agent",
        "description": "Call this tool to manage email related events like create event, delete event and so on.",
        "workflowId": {
          "__rl": true,
          "value": "XrfRVvz9d2NrbYW6",
          "mode": "list",
          "cachedResultName": "Email Agent Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -360,
        -480
      ],
      "id": "398a8fca-d03a-48ea-a2ee-9c89fa2d209d",
      "name": "email_agent"
    },
    {
      "parameters": {
        "name": "contact_agent",
        "description": "Call this tool to manage contact related event like get contact, create new contact and delete contact.",
        "workflowId": {
          "__rl": true,
          "value": "tFBIOoctFvjwiDBI",
          "mode": "list",
          "cachedResultName": "Contact Agent Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -240,
        -480
      ],
      "id": "89807b5c-a975-41e9-b1ba-7cff0beb5bc5",
      "name": "contact_agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -740,
        -700
      ],
      "id": "b85781bf-cf4c-486e-82f0-9461d4b55433",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "z114ZqIH3JcoUWXV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('WhatsApp Trigger').first().json.metadata.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -2760,
        -380
      ],
      "id": "cf3a509b-a01f-4bb2-a760-191533f446d4",
      "name": "WhatsApp Business Cloud",
      "webhookId": "1aedf215-397e-4f22-8a33-d2594fb4d875",
      "credentials": {
        "whatsAppApi": {
          "id": "jf3nYSJnkDgBOyI3",
          "name": "WhatsApp account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2760,
        -800
      ],
      "id": "d45ee8b3-2d7a-4e01-be54-0384da26333a",
      "name": "Telegram Trigger",
      "webhookId": "ad9ba656-48f0-4bda-a55f-4bfe2560d7db",
      "credentials": {
        "telegramApi": {
          "id": "N202KZONvEEJzrU4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5497641645",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -220,
        -1000
      ],
      "id": "f78dadb2-95f6-4b21-854a-27321565dcfa",
      "name": "send message",
      "webhookId": "55435c1e-20dd-43bb-bd71-4d5bf3c3bda5",
      "credentials": {
        "telegramApi": {
          "id": "N202KZONvEEJzrU4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "1740f246-80bd-450b-824c-9a03e6165c6a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd9e67c8-3221-4457-a9c5-e3d2af5d2e4a",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "80c48660-1be0-48bf-bb2f-352d004bef67",
                    "leftValue": "={{ $json.message.document }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a888bbcd-feda-4396-bedf-25a8f9226f36",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "=",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2520,
        -820
      ],
      "id": "e0b29677-6289-4fec-aff4-72d77c994848",
      "name": "Telegram Chat Type Router"
    }
  ],
  "pinData": {
    "WhatsApp Trigger": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551440071",
            "phone_number_id": "593007727224068"
          },
          "contacts": [
            {
              "profile": {
                "name": "jack siow"
              },
              "wa_id": "60179803611"
            }
          ],
          "messages": [
            {
              "from": "60179803611",
              "id": "wamid.HBgLNjAxNzk4MDM2MTEVAgASGCBBOTE1RTdDMkExQTQwNUE1RTEzQjcyMDY1MUIzNThGNQA=",
              "timestamp": "1741500105",
              "type": "audio",
              "audio": {
                "mime_type": "audio/ogg; codecs=opus",
                "sha256": "xQ8TMakSjXK08sOiY7i6t3nSdiraXai3xWP4QNgIe+k=",
                "id": "626278096704096",
                "voice": true
              }
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "connections": {
    "Whatsapp webhook": {
      "main": [
        []
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "Nova (Personal Assistant)": {
      "main": [
        [
          {
            "node": "send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get audio binary": {
      "main": [
        [
          {
            "node": "Extract url from audio binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download audio": {
      "main": [
        [
          {
            "node": "Transcribe Recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Recording": {
      "main": [
        [
          {
            "node": "Audio Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get image binary": {
      "main": [
        [
          {
            "node": "Extract url from image binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract url from audio binary": {
      "main": [
        [
          {
            "node": "Download audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download image": {
      "main": [
        [
          {
            "node": "Image Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Analyzer": {
      "main": [
        [
          {
            "node": "Image Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract url from image binary": {
      "main": [
        [
          {
            "node": "Download image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get document binary": {
      "main": [
        [
          {
            "node": "Extract url from document binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract url from document binary": {
      "main": [
        [
          {
            "node": "Download document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download document": {
      "main": [
        [
          {
            "node": "Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File": {
      "main": [
        [
          {
            "node": "Document Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Assistant": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Document Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Chat Input": {
      "main": [
        [
          {
            "node": "Nova (Personal Assistant)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Chat Input": {
      "main": [
        [
          {
            "node": "Nova (Personal Assistant)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Chat Input": {
      "main": [
        [
          {
            "node": "Nova (Personal Assistant)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Chat Input": {
      "main": [
        [
          {
            "node": "Nova (Personal Assistant)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "financial_agent": {
      "ai_tool": [
        [
          {
            "node": "Nova (Personal Assistant)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "email_agent": {
      "ai_tool": [
        [
          {
            "node": "Nova (Personal Assistant)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "contact_agent": {
      "ai_tool": [
        [
          {
            "node": "Nova (Personal Assistant)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Nova (Personal Assistant)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Telegram Chat Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Chat Type Router": {
      "main": [
        [
          {
            "node": "Get audio binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get image binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get document binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ffddf7a2-e80a-4bad-b440-3958c28d5bc4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6a23a1377e872f6f201a296e14c75691e100934cfebe9566c37e5753607d423"
  },
  "id": "SWyBlQFJ2ABb4Spk",
  "tags": [
    {
      "createdAt": "2025-03-05T13:51:44.265Z",
      "updatedAt": "2025-03-05T13:51:44.265Z",
      "id": "4qWjcBNJlDznX5UE",
      "name": "Automation"
    },
    {
      "createdAt": "2025-03-05T13:51:35.866Z",
      "updatedAt": "2025-03-05T13:51:35.866Z",
      "id": "b9t51zEUG59xKRay",
      "name": "Personal"
    }
  ]
}